
// 👇 uncomment to modify default spacing scale
:root {
  --space-unit:  1em;
}

:root, * {
  --space-xxxxs: calc(0.125 * var(--space-unit)); //  2px
  --space-xxxs:  calc(0.25  * var(--space-unit)); //  4px
  --space-xxs:   calc(0.5   * var(--space-unit)); //  8px
  --space-xs:    calc(0.75  * var(--space-unit)); //  12px
  --space-sm:    calc(1     * var(--space-unit)); //  16px
  --space-md:    calc(1.5   * var(--space-unit)); //  24px
  --space-lg:    calc(2     * var(--space-unit)); //  32px
  --space-xl:    calc(2.5   * var(--space-unit)); //  40px
  --space-xxl:   calc(4     * var(--space-unit)); //  64px
  --space-xxxl:  calc(5     * var(--space-unit)); //  80px
  --space-xxxxl: calc(6     * var(--space-unit)); //  96px
  --component-padding: var(--space-md);           //  24px
}

// @supports(--css: variables) {
//   @include breakpoint(md) {
//     :root {
//       --space-unit:  1.25em;
//     }
//   }
// }